<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Credit Dividend" value="Credit Dividend" />
    <add key="ATM Rebate ATM Fee Refund" value="ATM refund" />
    <add key="POS Transaction CAFE ADVANTA  11193547 3003 160TH AVE SE      BELLEVUE     W"
      value="Office Lunch" />
    <add key="ACH Deposit MICROSOFT  - EDIPAYMENT" value="Salary" />
    <add key="ACH Debit COMCAST 800-COMCAST - CABLE" value="TV" />
    <add key="POS Transaction REPUBLIC PARKING 30 56 200 W MERCER ST STE 103SEATTLE      W"
      value="MISC" />
    <add key="POS Transaction SPACE NEEDLE TICKETS 400 Broadway Street    SEATTLE      WAU"
      value="MISC" />
    <add key="POS Transaction CRABPOT RESTAURANT 1301 ALASKAN WAY       SEATTLE      WAUS"
      value="Eat Out" />
    <add key="POS Transaction DOMINO'S 7111 16260 REDMOND WAY      503-689-1288 WAUS"
      value="Eat Out" />
    <add key="POS Transaction STATE FARM INSURANCE 3 STATE FARM PLAZA     08009566310  ILU"
      value="State Farm" />
    <add key="POS Transaction SHALIMAR GROCERY 16541 REDMOND WAY      REDMOND      WAUS"
      value="GROCERY" />
    <add key="POS Transaction 140553 QUALITY F 15800 REDMON REDMOND      WAUS"
      value="GROCERY" />
    <add key="POS Transaction 69414 TRADER JOE'S #1        REDMOND      WAUS"
      value="GROCERY" />
    <add key="POS Transaction PAYPAL *MYGIFTCARDS 2211 North First StreetSan Jose     CAUS"
      value="PAYPAL" />
    <add key="POS Transaction  AMAZON.COM             SEATTLE      WAUS"
      value="AMAZON" />
    <add key="POS Transaction VESTA  *T-MOBILE 11950 SW Garden Place  888-278-3397 ORUS"
      value="MOBILE" />
    <add key="International Transaction Fee International Transaction Fee 91194730"
      value="MISC" />
    <add key="ACH Debit PUGET SOUND ENER  - ONLINE PMT" value="PUGET SOUND" />
    <add key="POS Transaction PAYPAL *ASOSCOMLTD Greater London House Ha35314369001  GBGB"
      value="PAYPAL" />
    <add key="POS Transaction WA VEHICLE LICENSING 1125 WASHINGTON ST SE  03609027470  WAU"
      value="VEHICLE LICENSING" />
    <add key="POS Transaction TransferwiseCom_USD 19 W 24th Street, 9th FNew York     NYUS"
      value="TransferwiseCom_USD" />
    <add key="POS Transaction EB LA BACHATA FESTIVA 155 5TH ST, 7TH FLOOR  8014137200   CA"
      value="LA BACHATA" />
    <add key="POS Transaction SHERATON GATEWAY LOS A 6101 W CENTURY BLVD    LOS ANGELES  C"
      value="LA BACHATA" />
    <add key="POS Transaction PRO SPORTS CLUB 4455 148TH AVE NE      BELLEVUE     WAUS"
      value="PRO SPORTS CLUB" />
    <add key="POS Transaction BURGER KING #6941  Q07 9601 AIRPORT BLVD      LOS ANGELES  C"
      value="LA BACHATA" />
    <add key="POS Transaction SHERATON GATEWAY F &amp; B 6101 W CENTURY BLVD    LOS ANGELES  C"
      value="LA BACHATA" />
    <add key="POS Transaction PAYPAL *RICOBRAVO 2211 North First StreetSan Jose     CAUS"
      value="Seattle BACHATA" />
    <add key="POS Transaction UberUS_A 1455 Market St         San FranciscoCAUS"
      value="Uber" />
    <add key="ATM Withdrawal CITIBANK SHERATON GATE 6101 W CENTURY BLVD    LOS ANGELES  C"
      value="LA BACHATA" />
    <add key="POS Transaction SPORT CLIPS - WA112 - 17158 REDMOND WAY      REDMOND      WA"
      value="SPORT CLIPS" />
    <add key="POS Transaction CMSVEND*CV MICROSOFT 1 MICROSOFT WAY        REDMOND      WAU"
      value="MISC" />
    <add key="Withdrawal Transfer to 9328620878" value="Car Loan" />
    <add key="POS Transaction TUTTA BELLA NEAPOLITAN 15600 NE 8TH ST STE J1 BELLEVUE     W"
      value="Eat Out" />
    <add key="POS Transaction  CHEVRON/7-ELEVEN       REDMOND      WAUS"
      value="GAS" />
    <add key="POS Transaction MAYURI FOODS AND VIDEO 2560 152ND AVE NE ST   REDMOND      W"
      value="GROCERY" />
    <add key="ATM Withdrawal FIRST TECH 3007 160TH AVE SE      BELLEVUE     WAUS"
      value="MISC" />
    <add key="POS Transaction HALEY'S SPORTS BAR &amp; 175 SPRING ST          FRIDAY HARBORWAU"
      value="San Juan" />
    <add key="Credit AMAZON.COM REFUNDAMAZON.COM       SEATTLE      WAUS"
      value="AMAZON" />
    <add key="ACH Debit Riverpark 312-474-1300 - WEB PMTS" value="Riverpark" />
    <add key="POS Transaction SQ *CROWS NESTCOFFE 70 SPRING ST           FRIDAY HARBORWAUS"
      value="San Juan" />
    <add key="POS Transaction WSFERRIES-ANACORTES 2901 3RD AVE           SEATTLE      WAUS"
      value="San Juan" />
    <add key="POS Transaction DIAMOND PARKING WA01 2100 FERRY TERMINAL RD ANACORTES    WAU"
      value="San Juan" />
    <add key="POS Transaction 226 KINGS THR 160 SPRING S FRIDAY HARBORWAUS"
      value="San Juan" />
  </appSettings>
</configuration>