<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Withdrawal  Vaalet Pmt from 9328252631 CK" value="MS CAFE" />
    <add key="POS Transaction PRO SPORTS CLUB BELLEV 4455 148TH AVE NE      BELLEVUE     W"
        value="PRO CLUB" />
    <add key="POS Transaction VESTA  *T-MOBILE 11950 SW Garden Place  888-278-3397 ORUS"
        value="UTILITY" />
    <add key="POS Transaction CAFE ADVANTA  11193547 3003 160TH AVE SE      BELLEVUE     W"
        value="MS CAFE" />
    <add key="POS Transaction SHALIMAR GROCERY 16541 REDMOND WAY      REDMOND      WAUS"
        value="GROCERIES" />
    <add key="POS Transaction STATE FARM 3 STATE FARM PLAZA SOUT800-956-6310 ILUS"
        value="STATE FAMR" />
    <add key="POS Transaction 69414 TRADER JOE'S #1        REDMOND      WAUS"
        value="GROCERIES" />
    <add key="POS Transaction  AMAZON.COM             SEATTLE      WAUS"
        value="AMAZON" />
    <add key="POS Transaction GOOGLE *Voice 1600 Amphitheatre Pkwy g.co payhelp#CAUS"
        value="UTILITY" />
    <add key="Withdrawal  #3225284# Transfer To 9328252722" value="BETSY TRANSFER" />
    <add key="POS Transaction SPORT CLIPS WA112 17158 REDMOND WAY #140 REDMOND      WAUS"
        value="UTILITY" />
    <add key="ACH Debit PUGET SOUND ENER  - ONLINE PMT" value="UTILITY" />
    <add key="POS Transaction PRO SPORTS CLUB 4455 148TH AVE NE      BELLEVUE     WAUS"
        value="PRO CLUB" />
    <add key="POS Transaction RANCHO BRAVO TACOS 1001 E PINE ST         SEATTLE      WAUS"
        value="FOOD OUTSIDE" />
    <add key="POS Transaction MCDONALD'S F4063 1122 MADISON ST.       SEATTLE      WAUS"
        value="FOOD OUTSIDE" />
    <add key="ATM Withdrawal CHASE 14335 NE 20TH ST       BELLEVUE     WAUS"
        value="ATM" />
    <add key="POS Transaction  CHEVRON 7-ELEVEN       REDMOND      WAUS"
        value="GAS" />
    <add key="ACH Deposit MICROSOFT  - EDIPAYMENT" value="SALARY" />
    <add key="POS Transaction KINGS HARDWARE 5225 BALLARD WAY NW    SEATTLE      WAUS"
        value="FOOD OUTSIDE" />
    <add key="Withdrawal  Transfer to 9328620878" value="CAR LOAN" />
    <add key="POS Transaction ELYSIAN BREWING CO.  I 1516 2ND AVE           SEATTLE      W"
        value="FOOD OUTSIDE" />
    <add key="POS Transaction UBER US OCT05 P7GOW HE 1455 Market Street     8665761039   C"
        value="UBER" />
    <add key="POS Transaction PIKE PLACE AT THE COMM 2 NICKERSON ST STE 300 SEATTLE      W"
        value="MS CAFE" />
    <add key="ACH Debit Riverpark 312-474-1300 - WEB PMTS" value="RENT" />
    <add key="POS Transaction MICROSOFT - 6 BELLEVUE 575 BELLEVUE WAY NE    BELLEVUE     W"
        value="XBOX" />
    <add key="POS Transaction THE NORTH FACE #49 1001 BELLEVUE SQUARE   BELLEVUE     WAUS"
        value="UTILITY" />
    <add key="Credit Dividend" value="Credit Dividend" />
    <add key="Withdrawal  #2843667# Transfer To 9328252722" value="BETSY" />
    <add key="POS Transaction  CHEVRON BEDROCK NORTHWEREDMOND      WAUS"
        value="GAS" />
  </appSettings>
</configuration>