<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="POS Transaction CAFE ADVANTA  11193547 3003 160TH AVE SE      BELLEVUE     W" value="MsCafe"/>
    <add key="POS Transaction  AMAZON.COM             SEATTLE      WAUS" value="AMAZON"/>
  </appSettings>

</configuration>